/*   </body> */
/* </html> */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  background: -webkit-linear-gradient(
      #FFFFFF,
      #FDFDFD,
      #00FBFF,
      #FDFDFD,
      #940084
    );
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Helvetica', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  text-align: center;
  margin: 30px 50px 20px 50px;
  justify-content: center;
}

.user-img {
  border-radius: 50px;
  max-width: 100px;
  box-shadow: 0 0 10px 5px #FDFDFD;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 2px 2px 2px 0 #FDFDFD;
  }
  25% {
    box-shadow: 5px 5px 5px 0 #FDFDFD;
  }
  50% {
    box-shadow: 2px 2px 2px 0 #FDFDFD;
  }
  75% {
      box-shadow: 5px 5px 5px 0 #FDFDFD;
    }
  100% {
      box-shadow: 2px 2px 2px 0 #FDFDFD;
  }
}

main h1 {
  color: #703BE7cc;
  font-size: 1.75rem;
  text-shadow: 0 1px 1px #FFFFFF;
  margin: 0.5em 0 1.5em 0;
}

.link {
  height: 50px;
  width: 100%;
  font-size: 1.2rem;
  background-color: #FDFDFD;
  border-radius: 20px;
  box-shadow: 0 2px 5px 0 #000000;
  margin-top: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

a { 
  color: #703BE7;
  text-decoration: none;
  transition: background-color 0.3s;
}
.link:hover {
  background: linear-gradient(to bottom, #703BE7, #940084);
  border-color: #FDFDFD;
  border-style: inset;
  border-radius: 20px;
  animation: shadow-pulse 2s infinite;
}
.link:hover a{
  color: #FDFDFD;
  text-decoration: none;
}
@media screen and (min-width: 500px) {
  body {
    padding: 20px 50px;
  }
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  main {
    min-width: 800px;
    padding: 20px 50px;
  }
}
